%heading {
    width: 170px;
    margin: auto;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #fff;
    background: black;
    z-index: 999;
}