#about.about
    h1 O себе
    .container
        .row
            .col-md-6
                img(src=require('../images/13.jpg'))
            .col-md-6.text
                p Я начал изучать програмирование вначале марта 2018 года. Веб-разработка быстро стала моей страстью, я люблю создавать пользовательские интерфейсы и веб-страницы. Работаю со следующими технологиями: HTML5, CSS3, javaScript, React, Webpack, npm, bash, Bable, git и др. Я постоянно совершенствую свои навыки и знания в области IT, активно изучаю английский язык. Интересуюсь дизайном. В будущем хочу быть full stak. Сейчас же претендую на позищую junior frontend developer.     