footer
    .container
        .row
            .footer-area.col
                ul.social
                    li: a(href="https://github.com/codebysergeyivanov", target="_blank"): i.fab.fa-github
                    li: a(href="https://codepen.io/sergeyivanov/", target="_blank"): i.fab.fa-codepen
                    li: a.link(href="https://github.com/codebysergeyivanov/codebysergeyivanov.github.io", target="_blank") Код проекта
                .copyright 2018 &copy

