header#top.header-area
        nav.header-nav
            div.logo Sergey Ivanov
            span.trigger-nav-list &#9776
            .scroll 
                a(href="#top") 
            ul.nav-list
                li: a(href="#about") О себе
                li: a(href="#work") Работы
                li: a(href="#contact") Контакты
        .container
            .row
                .col-lg-8
                    blockquote
                        h1.quote 
                        cite.cite 
        .arrow
            a(href="#about"): i.fas.fa-angle-double-down.anim

            