#work.work
    h1 Работы
    .container
        .row.justify-content-around
            .col-md-6.col-lg-4
                a.projects.gof(href="https://codebysergeyivanov.github.io/game-of-life/dist/", target="_blank")
                    img.project-pic(src=require('../images/gof.png'), alt="Game Of Life")
                    .project-title Game Of Life
            .col-md-6.col-lg-4
                a.projects.tttg(href="https://codebysergeyivanov.github.io/tic-tac-toe-game/", target="_blank")
                    img.project-pic(src=require('../images/tttg.png'), alt="Tic Tac Toe Game")
                    .project-title Tic Tac Toe Game
        .row.justify-content-around         
            .col-md-6.col-lg-4
                a.projects.calc(href="https://codebysergeyivanov.github.io/calculator-react-redux/", target="_blank")
                    img.project-pic(src=require('../images/calc.png'), alt="Calculator")
                    .project-title Calculator
            .col-md-6.col-lg-4
                a.projects.first-page(href="https://codebysergeyivanov.github.io/web-page/", target="_blank")
                    img.project-pic(src=require('../images/bp.png'), alt="My first page")
                    .project-title Built page